*{
  overflow-x: hidden;
}
body{
  position: relative;
}

/* @media only screen and (max-width:768px) {
  .events .box, .notice .right-box{
    margin:20px;
    padding: 0;
    width: auto;
  }
}

@media (max-width:576px){
  body{
     padding-top:120px; /*fixed navbar overlay the below content in mobile
  }
}
@media (max-width:600px) {
  .notice{
    position:static
  }
  .slide .row .events{
    position:static;
  }
}*/
 @media (min-width:1600px) {
  /* .menu_now{
    margin-left:150px;
  } */
  .temporary_menu{
    /* position: fixed; */
  }
  /* .notice{
    position: fixed;
    top:2;
    right:0;
  } */
  /* .slide .row .events{
    position:fixed;
    width: 100%;
  }
  .slide .row .image {
    margin-left: 7%;
  } */
} */
/* @media (max-width:1600px) {
  .slide .row .image {
    margin: 0px;
    border:2px solid red;
  }
} */

/*events at left side of slide bar*/
  .slide .row  .events .box .event{
    padding: 0;
  }
  .slide .row  .events .box .event li{
    display: inline;
  }




  /*birthdays below events*/
  .birthdays{
    margin-top:10%;
    margin-left: 10%;
    padding: 10px;
    margin-bottom: 10%;
  }

  /*temporary_menu*/
  .temporary_menu{
    width: 300px;
    height:auto;
    margin-top:10%;
    margin-left: 3%;
    padding: 2px;
    position: fixed;

   }

   .events_only li{
     padding: 5px;
     margin: 5px;
   }
  .temporary_menu li{
    padding: 20px;
    margin: 10px;
    font-size: 20px;
  }
  .temporary_menu li:hover{
    background-color:#343a40;
  }

  .temporary_menu a{
    text-decoration: none;
    color:black;
  }

  .temporary_menu a:hover{
    color:white;
  }


/*events at left side*/
.box{
  margin-top:10%;
  margin-left: 10%;
  padding: 10px;
}


.right-box{
  /* height: auto;
  margin-right: 20%;
  margin-top: 0%;
  padding: 10px; */
}

.news-feed{
  /* border:1px solid black; */
  height: auto;
}

.feed_shade{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color:#FBFFFB;
}
