{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
<h2>{{ question.question_text }}</h2>
{% if error_message %}<p><strong> {{ error_message }}</strong></p>{% endif %}
<form action="{% url 'polls_vote' question.id %}" method="post">
  {% csrf_token %}
  {% for choice in question.choice_set.all %}
  <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}">
  <label for="choice{{forloop.counter}}">{{choice.choice_text}}</label><br>
  {% endfor %}
  <input type="submit" class="btn btn-success btn-small" value="vote" />
</form>
  <!-- <ul>
    {% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }}</li>
    {% endfor %}
  </ul> -->
<br>
  <a href="{% url 'add_options' question.id %}" class="btn btn-outline-success">Add options to this poll</a>
  <br>
  <a href="{% url 'polls_results' question.id %}" class="btn btn-outline-success">View the Results</a>
</div>
{% endblock %}
