
{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
    {% for post in posts %}
    <!-- <img class="rounded-circle" src="{{post.author.profile.image.url}}"> -->
    <a href="{% url 'post-detail' post.id %}" ><h5>{{post.title}}</h5></a>
    <p>By <a href="{% url 'user-posts' post.author.username %}" >{{post.author}}</a> on {{post.date_posted|date:"F d, Y"}}</p>
    <p>{{post.content}}</p>
    {% if post.img %}
    <img src="{{ post.img.url }}" alt="{{ post.title }}"  style="width:400px;">
    {% else %}
    {% endif %}
    <hr width="50%" style="margin-left:0px;">
    <a type="submit" name="like" class="btn btn-success btn-small" style="color:white;">Upvote</a>
    <a href="{% url 'post-detail' post.id %}" name="comment" class="btn btn-primary btn-small" style="color:white;">Comment</a>
    <hr width="50%" style="margin-left:0px;">
    {% endfor %}
      {% if posts.has_previous %}
        <a class="btn btn-outline-dark mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-dark mb-4" href="?page={{posts.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in posts.paginator.page_range %}
        {% if posts.number == num %}
          <a class="btn btn-dark mb-4" href="?page={{num}}">{{num}}</a>
        {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
        <a class="btn btn-outline-dark mb-4" href="?page={{num}}">{{num}}</a>
        {% endif %}
      {% endfor %}

      {% if posts.has_next %}
        <a class="btn btn-outline-dark mb-4" href="?page={{ posts.next_page_number }}">Next</a>
        <a class="btn btn-outline-dark mb-4" href="?page={{posts.paginator.num_pages}}">Last</a>
      {% endif %}
</div>
{% endblock content %}
