
{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <!-- <img class="rounded-circle" src="{{post.author.profile.image.url}}"> -->
    <h2>{{post.title}}</h2>
    <p>By <a href="{% url 'user-posts' post.author.username %}" >{{post.author}}</a> on {{object.date_posted|date:"F d, Y"}}</p>
    {% if post.author == user %}
    <div>
    <a href="{% url 'post-update' post.id %}" class="btn btn-secondary btn-sm">Update</a>
    <a href="{% url 'post-delete' post.id %}" class="btn btn-danger btn-sm">Delete</a>
    </div>
    {% endif %}
    <p>{{ post.content}}</p>

    {% if post.img %}
    <a href="{{ post.img.url }}">
    <img src="{{ post.img.url }}" alt="{{ post.img.url }}"  style="width:400px;">
    </a>
    {% else %}
    {% endif %}
    <hr width="50%" style="margin-left:0px;">
    <p><strong>{{total_upvotes}}</strong> Upvote{{ total_upvotes|pluralize }} | <strong>{{comments.count}}</strong> Comment{{ comments|pluralize }} </p>

    <!-- <p>{{ comments.content }}</p> -->
    {% if request.user.is_authenticated %}
    <form action="{% url 'upvote_post' %}" method="post">
      {% csrf_token %}
      {% if is_upvoted %}
      <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-success btn-small">Upvoted</button>
      {% else %}
      <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-outline-success btn-small">Upvote</button>
      {% endif %}
      </form>
    {% endif %}
    <hr width="50%" style="margin-left:0px;">
    <div class="main-comment-section">
      {% for comment in comments %}
      <p>{{ comment.content }}   -   <strong>{{ comment.user|capfirst }}</strong></p>
      {% endfor %}
    </div>
    <form method="post">
      {% csrf_token %}
      {{ comment_form|crispy }}
      <input type="submit" value="Submit" class="btn btn-outline-success ">
    </form>

</div>
{% endblock content %}
