{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="jumbotron bg-dark">
  <h1 class="text-center display-4" style="color:white;">Kakshya</h1>
  <p class="lead text-center" style="color:white;">A Network of/for Students</p>
</div>
<div class="container">
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Log In</legend>
      {{ form|crispy }}
    </fieldset>
    <button type="submit" class="btn btn-outline-info">Login</button>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted">
      Not registered yet?<a class="ml-2" href="{% url 'register' %}">Sign up</a>
    </small>
  </div>
</div>
</div>
{% endblock %}
